[Desktop Entry]
Version=1.0
Type=Application
Name=Cropper-Tk
GenericName=Image Crooper
Comment=Crop the image
Icon=cropper-tk
Exec=cropper-tk.py %U
TryExec=cropper-tk.py
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
Terminal=false
StartupNotify=true
